<div class="container">
  <div class="row">
    <header>
      <div class="circle">
        <h1>Luis Daniel Gordo Navas</h1>
        <h3>Desarrollador Full stack Javascript</h3>
      </div>

    </header>

    <div class="line"></div>

    <section>
      <p><fa-icon [icon]="faPhone"></fa-icon> 316 341 85 33</p>
      <!-- <p> danniel.navas</p> -->
      <p><fa-icon [icon]="faMailBulk"></fa-icon> dannielnavas@gmail.com</p>
      <p><fa-icon [icon]="faCity"></fa-icon>  Bogotá - Colombia</p>
    </section>

    <div class="line"></div>

    <div class="generic-container">
      <div class="left">
        <h2>Perfil</h2>
      </div>
      <div class="right">
        <p>
          Me caracterizo por ser una persona responsable, honrada, amable,
          trabajadora. Soy una persona creativa, comprometida, emprendedora,
          analítica, Seria, capaz de realizar todas mis metas, me gusta trabajar en
          grupo, tengo iniciativa para desarrollar ideas. Como desarrollador adopto
          diferentes retos en los cuales me caracterizo por mi capacidad de aprendizaje
          de forma rápida, por lo cual he trabajado en diferentes lenguajes de
          programación y tecnologías asociadas al ciclo de vida del desarrollo de
          software.
        </p>
      </div>
      <div class="left">
        <h2>Experiencia</h2>
      </div>
      <div class="right">
        <h3>Banco AVVillas</h3>
        <span>Marzo de 2020 - Actualmente</span>
        <p><b>Desarrollador Frontend</b></p>
        <p>
          Actualmente me desempeño como desarrollador frontend bajo tecnologia Angular, ademas manejo de diferentes tecnologias como terraform,
          HTML5, CSS3 (Preprocesador Scss), unit test con Jasmine.
        </p>
        <h3>BANKING TECHNOLOGIES SOLUTIONS – GLOBAL ENTERPRISE TECHNOLOGIES</h3>
        <span>02 Abril de 2017 — Marzo de 2020</span>
        <p><b>Líder de Innovación y Desarrollo Bogotá</b></p>
        <p>
          Soporte de aplicación web en cliente FINAGRO en cuanto a base de datos en el ambiente de producción.
          Desarrollo de aplicación web en cliente FINAGRO. Desarrollo en cliente Datatools. Desarrollo en aplicación
          android. Desarrollo de API. Configuración y despliegue de esta en servidor cloud AWS – Digital Ocean.
          Análisis y creación de cronogramas para ciclos de desarrollo de software. Liderazgo de equipo de soporte
          y desarrollo. Mantenimiento aplicación de automatización. Desarrollo frontend Angular para cliente
          Fundación Santafe de Bogotá Desarrollo frontend Angular para cliente Redeban Desarrollo Scripts e
          instalación de ambientes WAS para cliente BVC Prototipado con la herramienta Adobbe XD para cliente
          Redeban Desarrollo Frontend para proyectos Internos Angular Desarrollo Backend para proyectos Internos
          NodeJs
        </p>
        <h3>BANKING TECHNOLOGIES SOLUTIONS</h3>
        <span>01 Abril del 2016 — 01 Abril de 2017</span>
        <p><b>Analista Líder de Innovación y Desarrollo Bogotá</b></p>
        <p>
          Desarrollo en diferentes lenguajes de programación. Desarrollo de sistema de automatización (Frontend)
          Desarrollo de sistema de automatización (Backend) Desarrollo de sistema de envió de correos de forma
          masiva (Frontend) Desarrollo de sistema de envió de correos de forma masiva (backend) Desarrollo de
          sistema de compromiso de reuniones (Frontend) Desarrollo de sistema de compromiso de reuniones
          (backend) Desarrollo de pagina web interna (Frontend) Desarrollo de pagina web interna (Backend) Diseño
          de correo (Frontend) Despliegue de CMS Wordpress Desarrollo de plugins para Wordpress Manteniendo y
          configuración de servidores. Despliegue de aplicaciones internas de la empresa. Soporte de aplicación
          web en cliente FINAGRO en cuanto a base de datos en el ambiente de producción.
        </p>
        <h3>Q-VISION TECHNOLOGIES</h3>
        <span>21 Octubre de 2014 — Marzo de 2016</span>
        <p><b>Auxiliar de automatización</b></p>
        <p>
          Desarrollo de funciones en JavaScript para el Framework de automatización. Desarrollo de soluciones
          internas para la realización de diferentes procesos. sistema que extrae datos de un archivo plano o Excel
          y los pasa a un XML. Automatización de pruebas (SAHI y selenium). Analista de calidad
        </p>
        <h3>Q-VISION TECHNOLOGIES</h3>
        <span>21 Abril de 2014 — 20 Octubre de 2014</span>
        <p><b>Auxiliar investigación y desarrollo</b></p>
        <p>
          Desarrollo de sistema que detecta la conexión a una pagina web dejando evidencia en un archivo plano.
          Desarrollo de componentes internos del sistema de automatización propios de la compañía Realización de
          diseño de pagina web (Frontend) Automatización de pruebas (SAHI y selenium). Analista de calidad
        </p>
        <h3>CLÍNICA VASCULAR NAVARRA LTDA</h3>
        <span>11 Diciembre de 2011 — 11 de Abril de 2014</span>
        <p><b>Auxiliar Sistemas</b></p>
        <p>
          Soporte en el área de sistemas. Configuración y despliegue de herramienta sobre apache en sistemas
          operativos Linux. Realización de diagramas entidad relación y generación de base de datos para sistema
          interno. Realización de interfaz web (Frontend) para la implementación de la base datos
        </p>
      </div>
      <div class="left">
        <h2>Educación</h2>
      </div>
      <div class="right">
        <h3>Ingeniería de sistemas</h3>
        <p><b>Unipanamericana</b></p>
        <span>2017 — 2020</span>

        <h3>Tecnólogo en análisis y desarrollo de sistemas de información</h3>
        <p><b>SENA</b></p>
        <span>2014 — 2015</span>

        <h3>Técnico profesional en Sistemas y Computación</h3>
        <p><b>Instituto Tolimense de formación técnica profesional</b></p>
        <span>2009 — 2011</span>
      </div>
      <div class="left">
        <h2>Skills</h2>
      </div>
      <div class="right">
        <div class="skills">
          <span>TypeScript</span>
          <span>JavaScript</span>
          <span>Angular</span>
          <span>NodeJs</span>
          <span>API Rest</span>
          <span>MySql</span>
          <span>MariaDb</span>
          <span>HTML</span>
          <span>CSS3</span>
          <span>Firebase</span>
          <span>MongoDB</span>
          <span>AWS</span>
          <span>Digital Ocean</span>
          <span>Jquery</span>
          <span>Linux</span>
          <span>AdobeXD</span>
          <span>SAHI</span>
          <span>Selenium</span>
          <span>Angular material</span>
          <span>NgPrime</span>
          <span>Sass</span>
          <span>Scss</span>
          <span>Less</span>
        </div>
      </div>
    </div>
  </div>
</div>
